<h2>FeedBack</h2>
<form [formGroup]="FeedbackForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="username">Name</label>
    <input
      type="text"
      formControlName="name"
      class="form-control"
      [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
    />
    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
      <div *ngIf="f.name.errors.required">name is required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input
      type="email"
      formControlName="email"
      class="form-control"
      [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
    />
    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
      <div *ngIf="f.email.errors.required">email is required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="username">Number</label>
    <input
      type="number"
      formControlName="number"
      class="form-control"
      [ngClass]="{ 'is-invalid': submitted && f.number.errors }"
    />
    <div *ngIf="submitted && f.number.errors" class="invalid-feedback">
      <div *ngIf="f.number.errors.required">number is required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="content">Comment Your Message</label>
    <input
      type="text"
      formControlName="content"
      class="form-control"
      [ngClass]="{ 'is-invalid': submitted && f.content.errors }"
    />
    <div *ngIf="submitted && f.content.errors" class="invalid-feedback">
      <div *ngIf="f.content.errors.required">Message is required</div>
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-primary" (click)="save()">submit</button>
  </div>
</form>
