﻿<div class="p-4">
  <div class="p-4">
    <div class="container">
      <h1>Hi {{ user.firstName }}!</h1>
      <p>Welcome to revalysis</p>
    </div>
  </div>
  <div class="feedback" style="justify-content: space-around">
    <a routerLink="/feedback"
      ><h3><b>FeedBack</b></h3></a
    >
  </div>
  <br />
  <div>
    <table cellpadding="10px" cellspacing="10px" align="center">
      <thead style="background-color: rgb(230, 224, 224)" align="center">
        <tr>
          <th>Image</th>
          <th>Collection</th>
          <th (click)="sort('Price')">
            Price &nbsp;
            <i class="fa fa-sort"></i>
          </th>
          <th>Product Title</th>
          <th>Style Name</th>
          <th>Style Number</th>
          <th>Net Quantity</th>
          <th>Product Code</th>
          <th>Available Sizes</th>
        </tr>
      </thead>
      <tbody align="center" style="background-color: honeydew">
        <tr
          *ngFor="let data of result | orderBy: key:reverse"
          class="search-results"
          infiniteScroll
          [infiniteScrollDistance]="12"
          [infiniteScrollThrottle]="50"
          (scrolled)="onScroll()"
        >
          <td><img width="100px" height="100px" src="{{ data.Images }}" /></td>
          <td>{{ data.Collection }}</td>
          <td>
            {{ data.Price }}
          </td>
          <td>{{ data.ProductTitle }}</td>
          <td>{{ data.StyleName }}</td>
          <td>{{ data.StyleNumber }}</td>
          <td>{{ data.NetQuantity }}</td>
          <td>{{ data.ProductCode }}</td>
          <td>{{ data.AvailableSizes }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
